<div class="list-wrapper client-user">
  <article class="main">
    <div class="client-user-box">
      <div class="headline">
        <a href="/client-users/edit/{{id}}">
        <div class="client-user-main-content">
          <ul>
            <li><span>Name:</span> {{nameClient}}</li>
            <li><span>Email:</span> {{email}}</li>
            <!-- {{#if authorized}}
              <p><span class="active-span">Authorized</span></p>
            {{else}}
              <p><span class="inactive-span">Not Authorized</span></p>
            {{/if}} -->
          </ul>
        </div>
        </a>
      </div>
    </div>
  </article>
</div>
