<div class="info-wrapper">
  <p class="error-tag">Please try again.</p>
  <p>Salary (current): <span class="scurrent">{{candidate.info.scurrent}}</span></p>
  <p>Salary (expected): <span class="sexpected">{{candidate.info.sexpected}}</span></p>
  <p>Notice period: <span class="notice">{{candidate.info.notice}}</span></p>
  <p>Locations: <span class="locations">{{candidate.info.locations}}</span></p>
  <button id="edit-info">Edit</button>
</div>
<div class="info-form">
  <form>
    <label>Salary (current):</label>
    <input type="hidden" class="id-candidate" value="{{candidate.id}}">
    <input type="text" class="scurrent-input" value="{{candidate.info.scurrent}}">
    <label>Salary (expected):</label>
    <input type="text" class="sexpected-input" value="{{candidate.info.sexpected}}">
    <label>Notice period:</label>
    <input type="text" class="notice-input" value="{{candidate.info.notice}}">
    <label>Interested in locations:</label>
    <input type="text" class="locations-input" value="{{candidate.info.locations}}">
    <button id="save-info">Save</button>
  </form>
</div>
