<div>
  <button id="add-status">Add status</button>
</div>
<form>
  <div class="dropdown-clients">
    <select class="dropbtn" id="clients">
      {{#each clients}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="dropdown-jobs">
    <select class="dropbtn" id="jobs">
      {{#each jobs}}
      <option class="{{client}}" value="{{id}}">{{title}}</option>
      {{/each}}
    </select>
  </div>
  <div class="dropdown-stages">
    <select class="dropbtn" id="stages">
      <option value="stage1">stage1</option>
      <option value="stage2">stage2</option>
      <option value="stage3">stage3</option>
      <option value="stage4">stage4</option>
    </select>
  </div>

  <div class="dropdown-save">
    <button class="dropbtn">Save</button>
  </div>
</form>
