<div class="list-wrapper client-job-wrapper">
  <article class="main">
    <div class="candidate-box">
      <div class="headline">
        <a href="/users/edit/{{id}}">
        <div class="client-job-main-content">
          <ul>
            <li><span>Fullname:</span> {{names.fullname}}</li>
            <li><span>Role:</span> {{role}}</li>
          </ul>
        </div>
        <!-- <div class="client-job-contact-content">
          </div> -->
        </a>
      </div>
    </div>
  </article>
</div>
