{{>navigation-dashboard}}

<div class="client-users-wrapper">
  <form action="/client-users/save" method="POST">
    <input type="hidden" name="idClientUser" value="{{clientUser.id}}">
    <input type="hidden" name="sid" value="{{clientUser.sid}}">

    {{#if errorMessage}}
      <p class='error-message'>{{errorMessage}}</p>
    {{/if}}
    <label>Client: </label>
    <select name="client" required>
      {{#each clients}}
        {{optionsClientUser this ../clientUser.idClient}}
      {{/each}}
    </select>
    <label>Email:</label>
    <input type="text" name="email" value="{{clientUser.email}}" required>
    <label>Password:</label>
    <input type="password" name="password" value="" required>
    <p class="authorized">
     <label for="active user"></label>
      {{authorizedCheckbox clientUser.authorized}}
    </p>
    <button type="submit">Save</button>
    <a href="/client-users/list">Cancel</a>
  </form>
</div>
