{{>navigation}}

<div class="container">
  <div class="label-list">
    {{#each lists}}
      <p>{{this.listName}}</p>
      <div>
        <form class="download-csv" action="" method="">
          <button type="submit"><i class="fa fa-download" aria-hidden="true"></i></button>
        </form>
        <form class="upload-csv" action="" method="">
          <button type="submit"><i class="fa fa-upload" aria-hidden="true"></i></button>
        </form>
        <form class="delete-list" action="" method="">
          <button type="submit"><i class="fa fa-times" aria-hidden="true"></i></button>
        </form>
      </div>
    {{/each}}
  </div>
</div>
