{{>client_navigation}}

<div class="cl-container">

  <div class="cl-info-desktop">
    <p><img src="/assets/img/globalM-logo.png" alt="Global-{M}"/></p>
  </div>
  <div class="cl-info">
    <p><img src="/assets/img/globalM-sm.png" alt="Global-{M}"/></p>
    <p>Client Name - {{client.name}}</p>
    {{#if client.createdAt}}
    <p>Client since - {{timestamp_to_date client.createdAt}}</p>
    {{/if}}
    <p>Account Manager - {{owner.names.fullname}}</p>

  </div>

  {{#each jobs as |job idJob|}}
    <div class="cl-job">
      <div class="cl-job-info">
        <p><a class="edit-stages" href="/jobs/{{idJob}}/stages">{{job.title}}</a></p>
      </div>

      <div class="cl-stage-parent">
        {{#each job.stages as |stage keyStage|}}
        <div class="cl-stage-child">
          <div class="cl-stage-title">{{stage.name}}</div>
            {{#each stage.candidates as |candidate idCandidate|}}
            <div class="cl-candidate">

              <div>
                <input type="hidden" name="idCandidate" value="{{idCandidate}}">
                <input type="hidden" name="idJob" value="{{idJob}}">
                <input type="hidden" name="currentStage" value="{{keyStage}}">
                <button class="reject" type="submit">X</button>
              </div>

              <div class="actions">
                <div>
                  <a href="{{candidate.url}}" target="_blank"><button class="li-link hidden-btn"><i class="fa fa-linkedin" aria-hidden="true"></i>
</button></a>
                </div>

                <div>
                  <button class="next-stage hidden-btn" type="submit">Next</button>
                  <input type="hidden" name="idCandidate" value="{{idCandidate}}">
                  <input type="hidden" name="idJob" value="{{idJob}}">
                  <input type="hidden" name="currentStage" value="{{keyStage}}">
                  <input type="hidden" name="nextStage" value="{{candidate.nextStage}}">
                </div>
            </div>

            <img src='{{picture}}'/><p>{{candidate.name}}</p>
            <p class="error-msg">Please, try again!</p>
          </div>
        {{/each}}
        </div>
      {{/each}}
      </div>
    </div>
  {{/each}}
</div>

{{>client_navigation_footer}}
<script type="text/javascript" src='/assets/js/client_dashboard.js'></script>
