<p>{{client.name}}</p>

<img src="{{client.logoUrl}}" alt="" />

{{#each jobs as |job idJob|}}
 <p>
   ##############################
 </p>
  <p>{{job.title}}</p>
  {{#each job.stages as |stage keyStage|}}
    <p>{{stage.name}}</p>
    {{#each stage.candidates as |candidate idCandidate|}}
      <p>{{candidate.name}}</p>
      <div class="action">
        <ul>
          <li>idCandidate: {{idCandidate}}</li>
          <li>idJob: {{idJob}}</li>
          <li>currentStage: {{keyStage}}</li>
          <li>nextStage: {{candidate.nextStage}}</li>
        </ul>
      </div>

      <form action="/nextStage" method="post">
        <input type="hidden" name="idCandidate" value="{{idCandidate}}">
        <input type="hidden" name="idJob" value="{{idJob}}">
        <input type="hidden" name="currentStage" value="{{keyStage}}">
        <input type="hidden" name="nextStage" value="{{candidate.nextStage}}">
        <button type="submit">Next stage</button>
      </form>

      <form action="/reject" method="post">
        <input type="hidden" name="idCandidate" value="{{idCandidate}}">
        <input type="hidden" name="idJob" value="{{idJob}}">
        <input type="hidden" name="currentStage" value="{{keyStage}}">
        <button type="submit">Reject</button>
      </form>
    {{/each}}
  {{/each}}
{{/each}}
