{{>navigation-dashboard}}


<div class="new-dash-wrapper">
  <p class="pre-section">Clients</p>
  <div class="client-parent">
    {{#each clients}}
      <div class="client-child"><img src="{{logoUrl}}" /></div>
    {{/each}}
  </div>

<p class="pre-section">My Jobs</p>

{{#each myJobs}}
  <div class="each-job-wrapper">
    <div class="job-info-dash">
      <p>Title: {{title}}</p>
      <p>Salary: {{salary}}</p>
      <p>Location: {{address.city}}</p>
    </div>

    <div class="job-parent">
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>Anita Czapla</p></div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>Simon Labodance</p></div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>Craig Adam Donovan</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>2</p></div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>2b</p></div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>2c</p></div>
          <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>2d</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>3</p></div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>3a</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>4</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>5</p></div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>1</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>6</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>7</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>8</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>9</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>10</p></div>
      </div>
    </div>
  </div>
{{/each}}

  <p class="pre-section">Other Jobs</p>

    {{#each otherJobs}}
      {{displayJobs this}}
    {{/each}}
    <!-- <div class="job-info-dash">
      <p>title: Some job</p>
      <p>salary: 40k</p>
      <p>location: London</p>
    </div>

    <div class="job-parent">

      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>Anita Czapla</p></div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>Simon Labodance</p></div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>Craig Adam Donovan</p></div>
      </div>

      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>2</p></div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>2b</p></div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>2c</p></div>
          <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>2d</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>3</p></div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>3a</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>4</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>5</p></div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>1</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>6</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>7</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>8</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>9</p></div>
      </div>
      <div class="stage-child">
        <div class="candidate stage-title">Stage 1</div>
        <div class="candidate"><button>x</button><img src="cat.jpeg" /><p>10</p></div>
      </div>
    </div> -->

</div>
