{{>search_bar}}
<div>
  <a name="goTop"></a>
</div>
<section class="container">
  <div class="title-wrapper">
    <article class="main"></article>
    <aside class="aside aside-1">
      <input type="checkbox" id="select-all">Select All
    </aside>
    <aside class="aside aside-2">
      <img class="squirrel-logo" src="https://cloud.githubusercontent.com/assets/15364186/16412922/ad2e31a2-3d26-11e6-88df-3ef4b9ad4685.png" alt="githubusercontent.com">
    </aside>
  </div>
  <form action="/email" method="POST">
	{{#each candidates}}
	  {{>candidate keywords=../keywords clients=../clients stages=../stages}}
	{{/each}}
  <input type="hidden" class="pathUrl" name="pathUrl" value="{{pathUrl}}">
  <button id="send-email" type="submit">SEND EMAIL</button>
  </form>
  <input type="hidden" class="keywords" value="{{keywords}}">
  <div class="anchorBottom">
    <a name='anchorTop' href="#goDown"><i class="fa fa-angle-down fa-lg"></i></a>
  </div>
  <div class='anchorTop'>
    <a name='anchorBottom' href="#goTop"><i class="fa fa-angle-up fa-lg"></i></a>
  </div>
  {{>pagination}}
</section>
<div>
  <a name="goDown"></a>
</div>
