<p>Stages</p>
<br/>
<form class="" action="" method="">
  <input type="hidden" name="jobId" value="">
  <p>{{job}}</p>
  <label for="stages"></label>
  {{#each stages as |stage idStage|}}
    {{#if stage.allowed}}
      {{#if stage.candidates}}
        <input type="checkbox" disabled checked name="stages" value="{{idStage}}">{{stage.name}} {{stage.candidates}}<br/>
      {{else}}
        <input type="checkbox" checked name="stages" value="{{idStage}}">{{stage.name}} {{stage.candidates}}<br/>
      {{/if}}
    {{else}}
    <input type="checkbox" name="stages" value="{{idStage}}">{{stage.name}} {{stage.candidates}}<br/>
    {{/if}}
  {{/each}}
  <button type="submit">Submit</button>
</form>
