.search-btn {
  width: 60px;
}

#search-box {
  width: auto;
}

#filter {
  padding: 9px 15px;
}

.container {
	padding-top: 20px;
}

.candidate_view {
  padding: 20px;
}

.list-wrapper, .title-wrapper {
	width: 95%;
	margin: 5px auto;
  height: 90%;
}

.client-job-wrapper {
  width: 60%;
}

.title-wrapper {
  text-align: center;
}

.headline img {
	width: 140px;
}

.headline h1 {
  text-decoration: none;
  font-size: 1.2em;
}

.headline h2 {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.73);
}

.headline p {
	font-size: 1em;
  padding: 2px;
  color: grey;
  font-size: 1em;
}

.headline .initials {
  margin: 8px 8px 0 0;
  font-size: 1em;
  margin-top: -1.563em;
}

.headline p.mobile {
  display: none
}

.favourite-form button {
  font-size: 1.5em;
}

aside {
  display: table-cell;
  float:right;
  position: relative;
  width: 35%;
}

#sidebar {
  padding: 0 10px;
  border-left: 1px solid #BCBFA4;
}

#sidebar > p {
  font-size: 14px;
}

#sidebar  > p > span {
  font-size: 12px;
  color: grey;
}

#sidebar i {
  font-size: 35px;
}

.details {
  width: 65%;
  padding: 0 20px;
}

.pagination a , .page-number{
  font-size: 22px;
}
#prev, #next {
  padding: 1px 12px 1px;
}

.delete-profile-confirmation {
  display: none;
}

.delete-profile, .delete-profile-confirmation button{
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border:0 none;
  border-radius: 10px;
}

/*==============================
 Notes
================================*/
.notes-wrapper {
  /*background-color: rgba(128, 128, 128, 0.17);*/
  padding: 10px;
}

.notes-box {
  margin-top: 20px;
  background-color: #FFF;
}

.notes {
  max-width: 400px;
}
.notes li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.notes input[type=text],
.notes textarea,
select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  background-color: #fff;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
input[type=text]:focus,
textarea:focus,
select:focus{
  -moz-box-shadow: 0 0 8px #97A3BF;
  -webkit-box-shadow: 0 0 8px #97A3BF;
  box-shadow: 0 0 8px #97A3BF;
  border: 1px solid #97A3BF;
}
.notes .field-divided{
  width: 49%;
}

.notes .field-long{
  width: 100%;
}

.notes .field-textarea{
  height: 100px;
}

.notes input[type=submit]{
  float: right;
  background: #333;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
}

.notes input[type=submit]:hover{
  background: #fff;
  color: #333;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}

/*==============================
 End Notes
================================*/

/*==============================
 Email section
================================*/
.display-email, .close {
  cursor: pointer;
}

.hidden-email {
  display: none;
}

.close {
  display: none;
  float: right;
  margin-top: -20px;
  color: #424A5D;
}

span.close > i.fa-times {
  font-size: 22px !important;
}

.emails-box p {
  padding: 5px 5px 2px 10px;
}
/*==============================
 End Email section
================================*/

/*==============================
 Login page
================================*/
.container-login {
  margin-top: 20%;
  width: 450px;
}
.container-login > h1 {
  font-size: 40px;
}
/*==============================
 End Login page
================================*/
/*==============================
 404 page
================================*/

.container-error-page {
  margin-top: 20%;
  width: 600px;
  overflow-y: hidden;
}

.container-error-page > h2 {
  font-size: 30px;
}

.container-error-page > a button {
  font-size: 16px;
}

/*==============================
 End 404 page
================================*/

/*==============================
 new dashboard
================================*/
.new-dash-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}

.dropdown-users {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.dropdown-users > form > button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #424A5D;
  background-color: #424A5D;
  color: #fff;
  cursor: pointer;
}

.job-info-dash {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.pre-section {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  font-weight: 800;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.pre-section span {
  color: green;
}

/*except first child do margin*/
.each-job-wrapper {
  margin-top: 30px;
}

.job-parent, .client-parent{
  overflow-x: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.client-parent {
  height: 150px;
  align-items: center;
}

.stage-child, .client-child {
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-bottom: 5px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
}

.client-child {
  min-width: 150px;
  padding: 10px;
}

.client-child img {
  width: 80px;
  border-radius: 50%;
  height: 80px;
}

.client-child > form > button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.stage-child {
  max-width: 300px;
}

.candidate {
  min-width: 120px;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.candidate img {
  width: 50px;
  height: 50px;
  text-align: center;
}

.delete-status-dash > button {
  margin-left: 80px;
  border: 1px solid #424A5D;
  background-color: #424A5D;
  color: #fff;
  cursor: pointer;
}

.stage-title {
  height: 35px;
  width: 300px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.82);
  justify-content: center;
}

/*==============================
 end new dashboard

 Status dropdowns
================================*/
.add-status-div {
  margin-top: 15px;
}

#add-status {
  display: block;
}

.edit-status {
  display: block;
}

.dropbtn, #add-status {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  min-width: 160px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-clients, .dropdown-jobs, .dropdown-stages, .dropdown-save {
  position: relative;
  display: none;
}

.dropdown-clients-edit, .dropdown-jobs-edit, .dropdown-stages-edit, .dropdown-save-edit {
  display: none;
}

.dropdown-clients > select, .dropdown-jobs > select, .dropdown-stages > select, .dropdown-clients-edit > select, .dropdown-jobs-edit > select, .dropdown-stages-edit > select {
  outline:0;
  border: none;
}

.status-candidate {
  margin-bottom: -20px;
}

.status-candidate:first-of-type {
  margin-top: 20px;

}

.status-candidate span {
  color: black;
}

.status-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  height: 5px;
}

.edit-status-form {
  display: inline-block;
}

.status-wrapper .edit-status {
  float: left;
  border: 1px solid #424A5D;
  background-color: #424A5D;
  color: #fff;
  margin-left: 10px;
}

.delete-status-form > button {
  float:left;
  border: 1px solid #424A5D;
  background-color: #424A5D;
  color: #fff;
}

.status-candidate span.stage-span {
  color: green;
  font-weight: 600;
}

.stage-initials-span {
  font-weight: 800;
  padding-right: 5px;
}
/*==============================
 ListNAmes
================================*/

.list-names-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.list-names-wrapper > div {
  border: 1px solid #424A5D;
  padding: 5px;
  margin-top: 4px;
}

.delete-list-names {
  border: none;
  background-color: #424A5D;
  color: #FFD777;
  cursor: pointer;
}

.error-list-name {
  display: none;
}

.search-form input {
    width: 12em;
}
/*==============================
 End ListNAmes
================================*/

/*==============================
 End Status dropdowns
================================*/
@media (min-width: 1440px) {

  .search-form input {
    width: 15em;
  }

}
@media (max-width: 1440px) {

  .curly-left {
    margin-left: 74px;
  }

  .vacancy-wrapper form > div {
    width: 80%;
  }

  .client-job-wrapper {
    width: 75%;
  }

/*  .job-right {
    margin-right: 10%;
  }*/

  .create-icon {
    right: 1%;
  }

  .client-job-details, .job-clear {
    width: 75%;
  }

  .client-job-info > img, .client-job-main-content > ul >img {
    width: 145px;
  }

}

@media (max-width: 1225px) {
  .pie {
    margin-left: 90px;
  }

}

@media (max-width: 1144px) {

  .notes .field-divided {
    width: 100%;
  }
  .candidate_view img {
    width: 80px;
  }

	.list-wrapper {
		width:80%;
	}

	.headline img {
		width: 100px;
	}

}
